*.iml
*.iws
/.idea
*Db.properties
*Db.script
.project
.classpath
.settings
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
out/*
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/
/grails-app/assets/stylesheets/css/*.css
.sass-cache
*.ipr
uruboo.ipr
uruboo.iml
uruboo.iws