#main-wrapper {
    main {
        background-color: #f4f5f6;
    }
    @include desktop {
        aside {
            float: left;
            width: $sidebarWidth;
        }
        main {
            margin-left: $sidebarWidth;
        }
    }
}