#sidebar {
    .sidebar-block {
        color: white;
        background-color: #303c40;
        padding-left: 30px;
        padding-right: 30px;
        &:not(:last-child) {
            margin-bottom: 1px;
        }
        .item, .sub-item {
            padding: 15px 0;
            cursor: pointer;
            & + .sub-level {
                display: none;
            }
        }
        .separator {
            border-bottom: 1px solid white;
            margin: 15px 0;
        }
        .sub-level {
            padding-left: 30px;
            padding-right: 30px;
            margin-left: -30px;
            margin-right: -30px;
            background-color: #68848f;
        }
    }
}
