#sidebar {
    .sidebar-block {
        color: #90a4ae;
        background-color: $secondaryColor;
        &:not(:last-child) {
            margin-bottom: $sideblockGutter;
        }
        .item {
            display: block;
            padding: $sideblockItemPadding $sideblockPadding;
            cursor: pointer;
            &:hover {
                background-color: $primaryColor;
                color: #cfd8dc;
            }
        }
        .separator {
            border-bottom: 1px solid #90a4ae;
            margin: $sideblockItemPadding $sideblockPadding;
        }
        li ul {
            display: none;
            padding-left: $sideblockPadding;
            margin-left: -$sideblockPadding;
            background-color: #2c3a41;
        }
    }
}
