#home section#active-tasks .task {
    position: relative;
    min-height: 165px;
    border: 2px solid #388e3c;
    margin: 10px;
    padding: 15px;
    .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .description {
        font-size: 16px;
    }
    .customer, .comments {
        position: absolute;
        bottom: 15px;
        color: white;
        padding: 5px;
    }
    .customer {
        background-color: purple;
    }
    .comments {
        background-color: black;
        right: 15px;
    }
}